/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-wp-learn-subscribe-wp-learn-subscribe-block {
	background-color: #b2f1ec;
	padding: 10px;
}

.wp-block-wp-learn-subscribe-wp-learn-subscribe-block .subscribe-header {
	font-weight: bold;
}